<div class="footer" id="contact">
  <div class="container">
    <p class="footer_intro light-font">Let's start a new project together!</p>
    <p class="contact_us regular-font"><img src="/images/footer/email_icon.png" />Get in touch</p>
      <!-- <button class="btn btn-primary contact-btn">Get in touch</button> -->
  </div>
</div>
<div class="information">
  <div class="container">
    <p class="location regular-font">Mobile App Design & Development Company Based in Xi'an</p>
    <div>
      <p class="contact regular-font">
        <span>(86) 186-9182-8491</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span>hello@ui-lab.com</span>
        <span class="pull-right">
          <img src="/images/footer/home_icon_dribbble.png" class="img-responsive inline-img">
          <img src="/images/footer/home_icon_facebook.png" class="img-responsive inline-img">
          <img src="/images/footer/home_icon_twitter.png" class="img-responsive inline-img">
          <img src="/images/footer/home_icon_instagram.png" height="20" class="img-responsive inline-img">
        </span>
      </p>
    </div>
  </div>
</div>